<div class="footer">
    <div class="container" >
    
      <div class="content has-text-centered mx-6 px-6">
        <div class="columns has-text-white mx-6 px-6">
      <div class="column">
      <img src="/images/1.png">
     </div>
      <div class="column">
      <img src="/images/2.png">
    </div>
      <div class="column">
      <img src="/images/3.png">
    </div>
      <div class="column">
      <img src="/images/4.png">
      </div>
    </div>
    
    <div class="columns mx-6 px-6">
      <div class="column">
      <img src="/images/5.png">
      </div>
      <div class="column">
      <img src="/images/6.png">
     </div>
      <div class="column">
      <img src="/images/7.png">
     </div>
      <div class="column">
      <img src="/images/8.png">
      </div>
    </div>
    </div>
    
    
    
    
    <div class="columns mt-6 pt-6 mx-3 px-3 has-text-white">
    
      <div class="column is-two-fifth footermenu pl-6">
        <figure class="image  mr-6 pr-6 py-3">
      <img src="/images/logo-white.png">
    </figure>
    <div class="has-text-white">
    <a href="" class="has-text-white">Home</a>
    <a href="" class="ml-6 has-text-white">Terms of Use</a>
    <a class="ml-6 has-text-white">Vehicles</a><br>
    <a href="" class="has-text-white">About Us</a><br>
    <a href="" class="has-text-white">Contact</a><br>
    </div>
    </div>
    
    
    <div class="is-divider-vertical"></div>
    
    
    
      <!-- <div class="column is-one-fifth footermenu mt-6 pt-6"><table>
    
      <p >Vehicles</p>
      <a href=""><tr><td><img src="./images/economy.png"></td> <td> Economy Class</td></tr></a>
      <a href=""><tr><td><img src="./images/middle.png"></td> <td> Middle Class</td></tr></a>
      <a href=""><tr><td><img src="./images/monovolumen.png"></td> <td> Monovolumen </td></tr></a>
      <a href=""><tr><td><img src="./images/suv.png"></td> <td> Suv </td></tr></a>
      <a href=""><tr><td><img src="./images/premium.png"></td> <td> Premium cars </td></tr></a>
    
    </table>
    </div> -->
    
      <div class="column is-one-fifth footermenu"><table>
        <p class="footertitle has-text-white">Working hours</p>
        <tr><td class="has-text-white">Monday</td> <td class="workinghours"> 8:00 am - 4:00 pm</td></tr>
        <tr><td class="has-text-white">Tuesday</td> <td class="workinghours"> 8:00 am - 4:00 pm</td></tr>
        <tr><td class="has-text-white">Wednesday</td> <td class="workinghours"> 8:00 am - 4:00 pm</td></tr>
        <tr><td class="has-text-white">Thursday</td> <td class="workinghours"> 8:00 am - 4:00 pm</td></tr>
        <tr><td class="has-text-white">Friday</td> <td class="workinghours"> 8:00 am - 4:00 pm</td></tr>
        <tr><td class="has-text-white">Saturday</td> <td class="workinghours"> 8:00 am - 4:00 pm</td></tr>
        <tr><td class="has-text-white">Sunday</td> <td class="workinghours"> 8:00 am - 4:00 pm</td></tr>
    </table>
    </div>
    
    <div class="is-divider-vertical" data-content="OR"></div>
    
      <div class="column is-one-fifth footermenu has-text-white">
        <p class="footertitle has-text-white">Location</p>
        <p>Vojvode Radomira Putnika 146</p>
        <p>Istočno Sarajevo 71123</p>
        <p class="mt-6">Get Directions in Google Maps</p>
        <img src="/images/maps.png" class="iconmiddle">
    </div>
    
      <div class="column is-one-fifth footermenu has-text-white">
        <p class="footertitle ">Contact</p>
        <p><img src="/images/call.png"> +387 66 034 034</p>
        <p><img src="/images/mail.png"> info@starcar.ba</p>
        <p class="mt-6">We are on Social Media</p>
        <div class="iconmiddle">
        <img src="/images/fb.png">
        <img src="/images/instagram.png" >
             </div>
    </div>
    
    
    </div>
    
    
    
    </div>
    </div>