<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
      <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/css/bulma-carousel.min.css" />
    <script defer src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>
    <script defer src="scripts.js"></script>
    <link rel='stylesheet' href='/css/style.css' />

   </head>
   <body>

     <!--Navbar-->
       <!-- Navbar Biba-->
     <nav class="navbar " role="navigation" aria-label="main navigation">
   <div class="navbar-brand">
     <a class="navbar-item" href="https://bulma.io">
       <img src="/images/logo.png" class="logo">
     </a>

     <a role="button button7px" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
       <span aria-hidden="true"></span>
       <span aria-hidden="true"></span>
       <span aria-hidden="true"></span>
     </a>
   </div>

   <div id="navbarBasicExample  " class="navbar-menu">

     <div class="navbar-start">
 <a class="navbar-item px-6  ">
                   <button class="button button7px is-primary is-outlined buttonnav" style="background-color: #000;"><p style="color: #fff;">Terms of use</p></button>

       </a>
     </div>
         <div class="navbar-end">

       <a class="navbar-item">
         Home
       </a>

       <a class="navbar-item">
         About us
       </a>
       <a class="navbar-item">
         Vehicle
       </a>
       <a class="navbar-item">
         Contact
       </a>

 <div class="navbar-item has-dropdown">
   <a class="navbar-link">
     <div>
          <button class="button button7px is-primary is-outlined  is-normal" style="background-color: #000;"><p style="color: #fff;">
             <img src="/images/united-kingdom.png"> EN/USD</p></button></div>
   </a>
       </div>
     </div>
   </div>
 </nav>
 </body>
 </html>