.background {
  background-image: url(./images/background.png);
  position: absolute;
  height: 100%;
  width: 100%;

}
.zvijezda {
  position: fixed;
}
.z-index {
  z-index: 10;
}
hr {
  border: 1px solid grey;
  margin-top:0;
  margin-bottom: 20px;
}
.box-radius {
  border-radius: 40px !important;
}
.margin-minus {
  margin-top: -160px;
}
.margin-minus1 {
  margin-top: -130px;
}
.bottom0 {
  bottom: 0;

}
.no-margin {
  margin:0;
}
.is-horizontal-center {
  justify-content: center;
}
.button-color {
  background-color: #E4873C - #E4AF41
}
div.slider-navigation-previous {
display: flex;
justify-content: center;
align-items: center;
position: absolute;
width: 42px;
height: 42px;
background: white center center no-repeat;
background-size: 20px 20px;
border: 1px solid white;
border-radius: 5px;
box-shadow: 0 2px 5px #3232321a;
top: 50%;
margin-top: -20px;
left: 5%;
cursor: pointer;
transition: opacity .3s,-webkit-transform .3s;
transition: transform .3s,opacity .3s;
transition: transform .3s,opacity .3s,-webkit-transform .3s;
}
polyline {
  fill: hsl(48, 100%, 67%);
    stroke-width: 0.5em;
    stroke-linecap: round;
    stroke-linejoin: round;
}
div.slider-navigation-next {
  display: flex;
justify-content: center;
align-items: center;
position: absolute;
width: 42px;
height: 42px;
background: white center center no-repeat;
background-size: 20px 20px;
border: 1px solid white;
border-radius: 5px;
box-shadow: 0 2px 5px #3232321a;
top: 50%;
margin-top: -20px;
right: 5%;
cursor: pointer;
transition: opacity .3s,-webkit-transform .3s;
transition: transform .3s,opacity .3s;
transition: transform .3s,opacity .3s,-webkit-transform .3s;
}
.orane-line{
  border: 1px solid orange;
  margin: 0px;
}

.navbar {
  background-color: #fff;
  padding-top: 1%;
  padding-left: 12%;
  padding-right: 5%;
}

.navbar-item {
  /* font-family: ; */
  font-size: 18px;
  padding-right: 15px;
  padding-left: 15px;

}
.button7px {
  border-radius: 7px;
  padding: 1.45em !important;
}

.navbar-link:not(.is-arrowless)::after {
    border-color: #029B87;
    margin-top: -.375em;
    right: 3em;
}

.footerimages {
  padding-left: 10%;
    padding-right: 10%;

}
.footer {
  background-color:#0A1531 ;
}

.footermenu {
  line-height: 40px;
  font-size: 17px;
  color: #fff;
  font-family: muli, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.footertitle {
  font-size: 24px;
}

.workinghours {
  color: #02907E;
  font-size: 14px;
}

.iconmiddle{
  margin-right: auto;
  margin-left: auto;
  display: block;
}
div.footer{
  background-color: #0A1531;
}
