@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}
.pickupz {
  margin-top: 15px;
  width:100%;
}
nav{
      position: fixed;
      width: 100%;
      z-index: 2;
}
.fullsize {
  width:100%;
}
.hide{ display:none; }
.inputBoxBG {
  border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
    background:#fff;
    margin-left:45px;
    border: 2px solid orange;
}
#navRow{
      margin-top: 30px;
}
.sticky {
      background-color: white;
      position: fixed;
      top: 0;
      width: 100%;
}
.logo a{
      content: url(/images/logo1.png);
      float: right;
      margin-top: -10px;

}
#terms{
      margin-top: 10px;
      padding-left: 50px;
}
.terms a{
      background-color: #0A1531;
      color: white;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 10px;
      padding-bottom: 10px;
      border: 2px solid #00d1b2;
      border-radius: 9px;
      text-decoration: none;
}

#moneySelect{
      background-color: #0A1531;
      color: white;
      border: 3px solid #00d1b2;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 5px;
}
#menu-list{
      margin-top: 15px;
}
ul{
      display: inline-flex;
}
ul li{
      padding-right: 35px;
}
ul li a{
      color: black;
      text-decoration: none !important;
}
nav ul ul {
      display: none;
      position: absolute;
      top: 80px;
  }

  /* Display Dropdown on Hover */
  nav ul li:hover > ul {
      display: inherit;
      border-radius: 15px;
      -webkit-box-shadow: 3px 3px 11px 0px #000000;
      box-shadow: 3px 3px 11px 0px #000000;
  }
  /* Fisrt Tier Dropdown */
  nav ul ul li{
      font-size: 17px;
      letter-spacing: 3px;
      width: 250px;
      float: none;
      display: list-item;
      position: relative;
      border-bottom: 2px solid orange;

  }
  #dropMenu{
        background-color: white;
  }
  #dropMenu li{
      padding-top: 15px;

  }
  #economyCar{
        content: url(/images/economy.png);
        padding-left: 5px;
  }
  #middleCar{
        content: url(/images/middle.png);
        padding-left: 5px;
  }
  #monoCar{
        content: url(/images/mono.png);
        padding-left: 5px;
  }
  #suvCar{
        content: url(/images/suv.png);
        padding-left: 5px;
  }
  #premiumCar{
        content: url(/images/premium.png);
        padding-left: 5px;
  }
  #premiumBorder{
        border: none;
  }
  .banner{
      background: url("/images/background.png") no-repeat;
      height: 95vh;
      background-size: cover;
      background-position: center;
}
.car{
      content: url(/images/auto-home.png);
      position: absolute;
      top: 240px;
}
#inputBox{
      margin-top: 150px;
}

.box-input{
      background-color: white;
      border: 2px solid orange;
      /* width: fit-content; */
      margin-left: 50px;
      width: 500px;
}
input[type=text]{
     width: 94%;
    margin-left: 23px;
    margin-right: 92px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nesto{
      background: rgb(255,158,0);
      background: linear-gradient(180deg, rgba(255,158,0,1) 0%, rgba(255,158,0,1) 0%, rgba(255,115,0,1) 100%);
      height: 500px;
}
.text{
      margin-top: 80px;
      margin-left: 130px;
}
.text h2{
      font-size: 30px;
      letter-spacing: 1px;
      margin-bottom: 5px;
}
.text p{
      margin-bottom: 10px;
}
.text a{
      background-color: #0A1531;
      color: white;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
      padding-bottom: 5px;
      border: 2px solid #00d1b2;
      border-radius: 9px;
      text-decoration: none;
}

.blackboxCar {
      position:relative;
}

    .carmodel {
      position:absolute;
      left:50%;
      margin-left:-150px;
      top:-120px;
}
.rent-car{
      margin-top: 60px;
      margin-bottom: -150px;
}
.rent-text{
      margin-left: 50px;
      text-align: justify;
}.rent-text h2{
      color: #00d1b2;
      font-size: 35px;
      margin-bottom: 10px;
      font-weight: 500;
}
.rent-text p{
      color: black;
      padding-top: 15px;
      margin-bottom: 10px;
}
.rent-picture{
      padding-top: 20px;
      padding-left: 30px;
      height: 60%;
      content: url('/images/sell.png');
}
#space{
      margin-bottom: 25px;
}
#share{
      margin-top: 15px;
      background-color: #0A1531;
      color: white;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 10px;
      padding-bottom: 10px;
      border: 2px solid #00d1b2;
      border-radius: 9px;
}
.comment{
      margin-bottom: 20px;
}
footer{
      background-color: #0A1531;
}
#pictures{
      padding-top: 20px;
      margin-left: 165px;
}
#picture1{
      content: url(/images/1.png);
}
#picture2{
      content: url(/images/2.png);
}
#picture3{
      content: url(/images/3.png);
}
#picture4{
      content: url(/images/4.png);
}
#picture5{
      content: url(/images/5.png);
}
#picture6{
      content: url(/images/6.png);
}
#picture7{
      content: url(/images/7.png);
}
#picture8{
      content: url(/images/8.png);
}
.prva-sekcija{
      margin-top: 19px;
}
.logo-white{
      content: url(/images/logo-white.png);
      margin-bottom: 15px;
}
.footer-text{
      display: grid;
}
.footer-text a{
      color: white;
      text-decoration: none;

}
.footer-text a:hover{
      color: #00d1b2;
}
#termsFooter{
      margin-left: -25px;
}
.druga-sekcija{
      margin-top: 19px;
      display: grid;
}
.druga-sekcija a{
      color: white;
      margin-bottom: 10px;
      text-decoration: none;

}
.druga-sekcija p{
      color: #00d1b2;
      font-size: 16px;
      margin-left: 10px;
      margin-bottom: 10px;
}
.treca-sekcija{
      margin-top: 15px;
}
.treca-sekcija h3{
      color: white;
      font-size: 18px;
      margin-bottom: 10px;
}
#day{
      color: white;
}
#hour{
      color: #00d1b2;
}
#work{
      border-right: 2px solid #00d1b2;
}
#location{
      border-right: 2px solid #00d1b2;
}
#slike{
      margin-bottom: 25px;
}
.cetvrta-sekcija{
      margin-top: 15px;
      margin-left: 15px;
}
.cetvrta-sekcija h3{
      color: white;
      font-size: 18px;
      margin-bottom: 10px;
}
.cetvrta-sekcija p{
      color: white;
      font-size: 14px;
}
#spaceP{
      margin-top: 15px;
      margin-bottom: 25px;
}
.googleMap{
      content: url(/images/maps.png);
      margin-left: 50px;
}
.peta-sekcija{
      margin-top: 15px;
      color: white;
}
.peta-sekcija h3{
      color: white;
      font-size: 18px;
      margin-bottom: 10px;
}
.contact{
      margin-bottom: 15px;
}
#checkCars{
      margin-top: 15px;
}
.checkCars{
    border-radius: 10px;
    margin-top: 40px;
    background-color: orange;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}
.social-media p{
      margin-bottom: 15px;
}
#phone{
      content: url(/images/call.png);
      padding-right: 10px;
}
#mail{
      content: url(/images/mail.png);
      padding-right: 10px;
}
#instagram{
      content: url(/images/instagram.png);
      padding-right: 5px;
      margin-left: 45px;
}
#facebook{
      content: url(/images/fb.png);
}
.after-footer{
      background-color: #00d1b2;
      width: 100%;
      margin-top: 100px;
      text-align: center;
      color: white;
      font-size: 13px;
}
@media only screen and (max-width: 1400px) {
      .treca-sekcija {
            margin-top: 15px;
            font-size: 13px;
        }
      
    }
    @media only screen and (max-width: 1215px) {
      .treca-sekcija {
            font-size: 10px;
        }
      .druga-sekcija{
            margin-top: 19px;
            display: grid;
            font-size: 10px;
      }
      .logo-white {
            content: url(./images/logo-white.png);
            margin-bottom: 15px;
            background-size: contain;
            width: 50%;
        }
        .cetvrta-sekcija p {
            color: white;
            font-size: 10px;
        }
        .googleMap {
            content: url(./images/maps.png);
            margin-left: 25px;
            background-size: contain;
            width: 45%;
        }
        .contact{
            font-size: 10px;
        }
        #instagram {
            content: url(./images/instagram.png);
            padding-right: 5px;
            /* margin-left: 45px; */
        }
    }
body {
  overflow: hidden;
}
.background {
  background-image: url(./images/background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  top:0;
  left:0;
  right: 0;
  height: 100%;
  width: 100%;

}
.background-yellow {
background-color: #E4873C;
left:0;
height:95%;
}
.background-white {
background-color: #ffffff;
left:0;
height:auto;
}
.big-car{
  background-image: url(./images/auto-home.png);
  position: absolute;
  left: 43%;
  top: 35%;
  background-repeat: no-repeat !important;
  height: 100%;
  width: 100%;
  z-index: 20;
}
.zvijezda {
  position: fixed;
}
.z-index {
  z-index: 10;
}
.devider-grey {
  border: 1px solid grey;
  margin-top:0;
  margin-bottom: 15px;
}
.box-radius {
  border-radius: 40px !important;
}
.nav-button-radius {
  border-radius: 10px !important;
}
.border-orange{
  border: 2px solid orange;
}
.button-radius {
  border-radius: 15px !important;
}
.button-radius-small {
  border-radius: 7px !important;
}
.box-border {
  border: 2px solid orange;
}
.margin-minus {
  margin-top: -160px;
}
.margin-minus1 {
  margin-top: -130px;
}
.margin-minus2 {
  margin-top: -170px;
}
.margin-minus3 {
  margin-top: -175px;
}
.image-max {
  height: 180px;
  width: 300px;
  z-index: 50;
}
.border-date {
  border: 2px solid hsl(171, 100%, 41%);
  border-radius: 20px;
}
.button7px {
  border-radius: 7px;
}
.no-margin {
  margin:0;
}
.is-horizontal-center {
  justify-content: center;
}
.blue-button {
  background-color: #0A1531;
  color: white;
}
div.slider-navigation-previous {
display: flex;
justify-content: center;
align-items: center;
position: absolute;
width: 42px;
height: 42px;
background: white center center no-repeat;
background-size: 20px 20px;
border: 1px solid white;
border-radius: 5px;
box-shadow: 0 2px 5px #3232321a;
top: 50%;
margin-top: -20px;
left: 0%;
cursor: pointer;
transition: opacity .3s,-webkit-transform .3s;
transition: transform .3s,opacity .3s;
transition: transform .3s,opacity .3s,-webkit-transform .3s;
}
polyline {
  fill: hsl(48, 100%, 67%);
    stroke-width: 0.5em;
    stroke-linecap: round;
    stroke-linejoin: round;
}
div.slider-navigation-next {
  display: flex;
justify-content: center;
align-items: center;
position: absolute;
width: 42px;
height: 42px;
background: white center center no-repeat;
background-size: 20px 20px;
border: 1px solid white;
border-radius: 5px;
box-shadow: 0 2px 5px #3232321a;
top: 50%;
margin-top: -20px;
right: 0%;
cursor: pointer;
transition: opacity .3s,-webkit-transform .3s;
transition: transform .3s,opacity .3s;
transition: transform .3s,opacity .3s,-webkit-transform .3s;
}
.orange-line{
  border: 1px solid orange;
  margin: 0px;
  margin-left: 5%;
  margin-right: 5%;
}
.green-line{
  border:2px solid hsl(171, 100%, 41%);
  margin: 0px;
  margin-left: 40%;
  margin-right: 40%;
}

.navbar {
  background-color: #fff;
  padding-top: 1%;
  padding-left: 12%;
  padding-right: 5%;
}

.navbar-item {
  font-size: 18px;
  padding-right: 15px;
  padding-left: 15px;

}
.small-icon-car {
  float:right;
}
.logo {
      float: right;
  width: 200px;
  height: 70px;
}
.button7px {
  border-radius: 7px;
  padding: 1.45em !important;
}

.navbar-link:not(.is-arrowless)::after {
    border-color: #029B87;
    margin-top: -.375em;
    right: 3em;
}



.iconmiddle{
  margin-right: auto;
  margin-left: auto;
  display: block;
}
div.footer{
  background-color: #0A1531;
}

.muli-36 {
  font-family: 'Muli';
  font-weight: 300;
  font-size: 36px;
  line-height: 29px;
}
.muli-33 {
  font-family: 'Muli';
  font-weight: 300;
  font-size: 30px;
  line-height: 29px;
}
.muli-21 {
  font-family: 'Muli';
  font-weight: normal;
  font-size: 21px;
  line-height: 26px;
}
.muli-21 {
  font-family: 'Muli';
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
}
.muli-34 {
  font-family: 'Muli';
  font-weight: 300;
  font-size: 34px;
  line-height: 57px;
}
.muli-22 {
  font-family: 'Muli';
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
}
.muli-17 {
  font-family: 'Muli';
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
}
.muli-19l {
  font-family: 'Muli';
  font-weight: 300;
  font-size: 19px;
  line-height: 21px;
}
.muli-16 {
  font-family: 'Muli';
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
}
.muli-23 {
  font-family: 'Muli';
  font-weight: normal;
  font-size: 23px;
  line-height: 29px;
}
.muli-19 {
  font-family: 'Muli';
  font-weight: normal;
  font-size: 19px;
  line-height: 24px;
}
.muli-32 {
  font-family: 'Muli';
  font-weight: 300;
  font-size: 23px;
  line-height: 28px;
}
.muli-22n {
  font-family: 'Muli';
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
}
.muli-30 {
  font-family: 'Muli';
  font-weight: normal;
  font-size: 30px;
  line-height: 38px;
}
.muli-46 {
  font-family: 'Muli';
  font-weight: normal;
  font-size: 46px;
  line-height: 54px;
  color: #191919
}
.muli-38 {
  font-family: 'Muli';
  font-weight: normal;
  font-size: 38px;
  line-height: 50px;
}
.muli-20 {
  font-family: 'Muli';
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
}
.muli-16c {
  font-family: 'Muli';
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #909090;
}
.muli-40 {
  font-family: 'Muli';
  font-weight: 300;
  font-style: italic;
  font-size: 40px;
  line-height: 54px;
  color: #191919
}

.thumbnailimage {
width: 100%;
}

.blackboxCar {
  position:relative;
}

.carmodel {
  position:absolute;
  left:50%;
  margin-left:-140px;
  top:-120px;
}
